<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <base href="https://egal.p.rapidapi.com/" target="_blank">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title>Weather Forecast</title>
    <link rel="icon" href="https://cdn.pixabay.com/photo/2012/04/18/13/21/clouds-37009__340.png">
</head>

<body>
    <img src="{{image_uri}}" />
</body>

</html>